<div class="Contenedor">

    <div class="weather-card">
        <div class="location">{{Localizacion}}</div>
        <div class="country">{{Pais}}</div>
        <div class="weather-info">
            <img [src]="Imagen" alt="Weather icon">
            <div class="temperature">{{Temperatura}}</div>
        </div>
        <div class="real-feel">{{SensacionTermica}}</div>
    </div>

    <div class="weather-card">
        <div class="location">{{Localizacion}}</div>
        <div class="country">{{Pais}}</div>
        <div class="weather-info">
            <img [src]="Imagen" alt="Weather icon">
            <div class="temperature">{{Temperatura}}</div>
        </div>
        <div class="real-feel">{{SensacionTermica}}</div>
    </div>

    <div class="weather-card">
        <div class="location">{{Localizacion}}</div>
        <div class="country">{{Pais}}</div>
        <div class="weather-info">
            <img [src]="Imagen" alt="Weather icon">
            <div class="temperature">{{Temperatura}}</div>
        </div>
        <div class="real-feel">{{SensacionTermica}}</div>
    </div>

</div>