
<app-nav-bar [buscarCiudadMapa]="buscarCiudadMapa.bind(this)"></app-nav-bar>

<div class="dashboard-header">

    <div class="dashboard-map">
        <app-interactive-map [prueba]="prueba" [options]="newOptions"></app-interactive-map>
    </div>

    <div class="dashboard-summary">
        <app-summary [weatherData]="summaryWeather2"></app-summary>
        <div class="xd">
            <app-temperatureintheday [dailyTemperature]="dailyTemperatura2"></app-temperatureintheday>
        </div>
    </div>

    
</div>

<div class="Contenedor_Grafica_1-2">

    <div class="dashboard-grafica1">
        <a>Variacion de Temperatura Semanal</a>
        <app-daily-temperature-trend [tendenciaTemperaturaDiaria]="tendenciaTemperaturaDiaria2"></app-daily-temperature-trend>
    </div>

    <div class="dashboard-grafica2">
        <a>Comparacion de Temperatura Estatal</a>
        <app-state-temperature-chart [temperaturasPorEstado]="temperaturasPorEstado2" ></app-state-temperature-chart>
    </div>

</div>

<div class="Contenedor_Grafica_4-6">

    <div class="dashboard-grafica4">
        <a>Velocidad del Viento</a>
        <app-wind-speed-direction [data]="windSpeed2"></app-wind-speed-direction>
    </div>

    <div class="dashboard-grafica5">
        <a>Covertura de Nubes</a>
        <app-cloud-coberture [dailyWeatherData]="dailyWeatherData2"></app-cloud-coberture>
    </div>
        
    <div class="dashboard-grafica6">
        <a>Probabilidad</a>
        <app-weather-probability [weatherProbability]="weatherProbability2"></app-weather-probability>
    </div>

</div>

<div class="Contenedor_Grafica_3">

    <div class="dashboard-grafica3">
        <a>Comparacion de Temperatura por Hora</a>
        <app-hourly-temperature [hourlyTemperature]="hourlyTemperature2"></app-hourly-temperature>
    </div>

    <div class="dashboard-grafica7">
        <a>Probabilidad de Precipitacion Diaria</a>
        <app-daily-precipitation-probability [data]="dailyPrecipitationProbability" > </app-daily-precipitation-probability>
    </div>

</div>
